body {
    margin: 0;
    padding: 0;
    background-color: #F7F7F9;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    --bg-color: #ffffff; /* Define the background color variable */
  }
  @font-face {
    font-family: 'Mona Sans';
    src: 
    url('./assets/Fonts/Mona-Sans.ttf') format('woff2'),
         url('./assets/Fonts/Mona-Sans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Add more @font-face rules for different font weights/styles if necessary */
